*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    margin: 50px;
}


section{
    margin: 30px;
}

.filme-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
    gap: 25px;
}

.filme{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
h1{
    text-align: center;
}
header{
    font-size: 30px;
    color: #F1FA8C;
    text-align: center;
}
.genero{
    font-size: 30px;
    background-color: #44475A;
    color: #F1FA8C;
    border-radius: 20px;
}

h1{
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
}

img{
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: white;
}