
body{
    margin: 3px;
    background-color: #282A36;

}
main{
    margin-top: 50px;
}

.destaques{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.destaques{
    color: #282A36;
    background-color: #F1FA8C;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}
.assinante{
    position:fixed;
    display: flex;
    top: 0;
    right: 0;
    height: 90%;
    background-color:#FF5555;
    border-radius:5px ;
    width: 125px;
    flex-wrap: wrap;
    font-size:small;
    color: #282A36;
    z-index: 10;
}
.assinante li{
    margin-top: 20px;
    text-transform: uppercase;

}


