
body{
    margin: 3px;
    background-color: #282A36;

}
main{
    margin-top: 50px;
}

.destaques{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.destaques{
    color: #282A36;
    background-color: #F1FA8C;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}
aside{
    position:absolute ;
    top: 0;
    right: 0;
    display: f;
    background-color: black;
    border-radius:5px ;
    width: 125px;
    word-wrap: break-word;
    font-size:small;
}


