*{
    /*Remove margens e espaços internos dos elementos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 3px;
    background-color: #282A36;

}
main{
    margin-top: 50px;
}

.destaques{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}
.cartaz{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 200px;
    justify-content: center;
    margin: 50px;
}
.cartaz img{
    width: 200px;
    height: 250px;
    border-radius: 5px;
}
.destaques{
    display: flex;
    justify-content: space-around;
}
label{
    color: #F1FA8C;
}
button{
    padding: 6px 20px;
    background-color: rgb(136, 136, 136);
    border: 0;
    border-radius: 15px;
}


