*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 4px solid royalblue;
    display: grid;
    grid-auto-rows: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    grid-template-areas: 
    'header header header header header'
    'sec1   sec1   sec1   sec1   sec2'
    'sec1   sec1   sec1   sec4   sec4'
    'sec3   sec3   sec3   sec3   sec4'
    'art1   art1   art1   art2   art2'
    'footer footer footer footer footer'
    ;
}

header,section,article,footer{
    background-color: lightgreen;
    border: 2px solid green;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    grid-area: header;
}
